* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
    /* border: 3px solid;
    border-color: black; */
    width: 100%;
    height: 100%;
}

.container{
    text-align: center;
    overflow: hidden;
    margin-top: 0;
}

.atas1{
    background: #0099e6;
    color: white;
    width: 100%;
    height: 50px;
    position: fixed;
    margin: 0px;
    z-index: 9;
}

.atas1 ul li{
    display: inline-block;
    padding: 15px;
    font-family: 'Courier New';
    font-weight: bold;
}

.atas2{
    padding-top: 50px;
    width: 100%;
    font-size: 0;
}

.atas2 img{
    width: 100%;
}

.atas3{
    font-family: 'Courier New';
    width: 100%;
    padding: 20px;
    overflow: scroll;
}

.flexbox{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.kiri{
    background: red;
    color: white;
    width: 200px;
    height: 200px;
    padding: 5px;
    margin: 15px;
}

.tengah{
    background: purple;
    color: white;
    width: 200px;
    height: 200px;
    padding: 5px;
    margin: 15px;
}

.kanan{
    background: blue;
    color: white;
    width: 200px;
    height: 200px;
    padding: 5px;
    margin: 15px;
}
